body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #30cb2a;
    color: rgb(252, 249, 249);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    border: 3px solid #1c1010;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
